.navbar {
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    margin-left: 0;
    padding-left: 0;
    box-shadow: 0px 5px 10px rgba(255, 180, 67, 0.863); 
}

.navbar img {
    float: right;
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
}

body {
    background-image: url('/static/homepp.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.web {
    float: left;
    width: 150px;
    height: 50px;
    margin: 10px;
    width: 100%;
}

#website-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 50px;
    z-index: 0;
    pointer-events: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

