.navbar {
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    margin-left: 0;
    padding-left: 0;
    box-shadow: 0px 5px 10px rgba(255, 180, 67, 0.863); 
}

.navbar img {
    float: right;
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
}

body {
    background-image: url('/static/homepp.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.web {
    float: left;
    width: 150px;
    height: 50px;
    margin: 10px;
    width: 100%;
}

#website-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 50px;
    z-index: 0;
    pointer-events: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#slot-icon {
    width: 500px; /* adjust as needed to make the image bigger */
    height: auto; /* maintain aspect ratio */
    position: absolute;
    left: 60%; /* move the image to the right */
    top: 70%; /* move the image down */
    transform: translate(-50%, -50%); /* offset the left and top positioning */
    z-index: 9999; /* make it the topmost element */
    transition: all 0.3s ease; /* animate changes */
}

#slot-icon:hover {
    width: 550px; /* make the image bigger when hovered */
    border: 5px solid yellow; /* add a yellow outline when hovered */
}