body::after {
    content: "";
    background: url('/static/UBG.jpg');
    background-size: cover;
    position: fixed; /* Stretch the pseudo-element to cover the whole page */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1; /* Place it behind the content */
    backdrop-filter: blur(5px); /* Apply the blur */
}

html, body {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #300000;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8de1d 3px solid;
    margin-top: 50px;  /* Add this line to lower the header */
    margin-left: auto;  /* Add this line to center the header */
    margin-right: auto;  /* Add this line to center the header */
    width: 80%;  /* Add this line to set the width of the header */
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.container-below {
    width: 80%;
    margin: auto;
    overflow: hidden;
    background-color: #979c7b;  /* Add a background color for testing */
    height: 200px;  /* Add a height for testing */
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 25px;
}

header #branding {
    float: left;
    
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight, header .current a {
    color: #e8491d;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}
.logout-link {
    color: red;
}

.logout-link:hover {
    color: darkred;
}

#branding h1 {
    font-size: 30px;  /* Change the font size */
    color: rgb(204, 187, 187);  /* Change the color */
 }

 #main-col {
    margin-left: 30px;  /* Add 20px of margin to the left */
}


