<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    
    <div class="navbar">
        <img src="/static/profile.png" alt="Profile" onclick="location.href='/user'">
        <img src="/static/RRBET2.png" alt="RR Icon" id="website-icon">
        
    </div>
    <div class="container">
                <a href="aparats">
                    <img src="/static/SLOT.png" alt="Slot Icon" id="slot-icon">
                </a>
            </div>
</body>
</html>