<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <video playsinline autoplay muted loop id="bgvid">
        <source src="/static/BG.mp4" type="video/mp4">
    </video>
    <div class="container">
        <header>
            <img src="/static/RRBET2.png" alt="Icon" id="icon">  
        </header>
        <form method="POST" action="/login">
            <label for="username"><strong>Username:</strong></label>
            <input type="text" id="username" name="username" required>
            <label for="password"><strong>Password:</strong></label>
            <input type="password" id="password" name="password" required>
            {% for message in get_flashed_messages() %}
            <p class="error">{{ message }}</p>
            {% endfor %}
            <button type="submit"><strong>Log in</strong></button> 
        </form>
        <p class="register_prompt">Don't have an account allready? <a href="/register">Register</a></p>
    </div>


    <script src="app.js"></script>
</body>
</html>