<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/static/main.css">
    <style>
        body {
            background-image: url('/static/BGG.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }

        .container {
            max-width: 400px;
            margin: 50px auto;
            padding: 20px;
            background-color: #000000d7; 
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(255, 0, 0, 0.788); 
            text-align: center;
            color: #f00; 
        }

    </style>
</head>
<body>
    <div class="container">
        <h1>Registration</h1>
        <form id="registerForm" action="/register" method="post">
            <label for="register_username">Username:</label>
            <input type="text" id="register_username" name="username" required><br>
            <label for="register_password">Password:</label>
            <input type="password" id="register_password" name="password" required><br>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>
