<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" href="/static/user.css">
</head>
<body>
    <div class="outline">  <!-- Remove the closing div tag here -->
        <header>
            <div class="container">
                <div id="branding">
                    <h1>PROFILE</h1>
                </div>
                <nav>
                    <ul>
                        <li><a href="/index">Home</a></li>
                        <li><a href="/logout" class="logout-link">Log Out</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <section id="main">
            <div class="container-below">
                <article id="main-col">
                    <h1 class="page-title">Welcome, {{ username }}!</h1>
                    <p>Your balance is: {{ balance }}</p>
                    <p>
                        This is your profile page. You can get your money up by clicking the button below.
                    </p>
                
                    <!-- Deposit form -->
                    <form action="/deposit" method="post">
                        <button type="submit">Deposit 100</button>
                    </form>
                
                
                </article>
            </div>
        </section>
    </div>  <!-- The closing div tag for the "outline" class should be here -->
</body>
</html>